
<h1 class="center-me pb-4">{{ title }}</h1>
<div *ngIf="loading" class="center-me">
  <h3>Loading Content</h3>
</div>
<!-- SPINNER -->
<div class="row center" *ngIf="blogs && !loading">
  <div class="card-deck">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-auto" *ngFor="let blog of blogsArray">
      <div class="card post-card">
        <a 
          class="card-img-top card-img" 
          (click)="navigateToEdit(blog.data.slug.iv, blog.id)" 
          [style.backgroundImage]="'url('+ blog.data.postBanner.iv +')'" 
          style="height: 260px"
        ></a>
        <div class="card-body">
          <div class="h-100">
            <h5 class="card-title">{{ blog.data.title.iv }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ blog.created | date }}</h6>
            <p class="card-text">{{ blog.data.Description.iv }}</p>
          </div>
          <button class="btn primary" (click)="navigateToEdit(blog.data.slug.iv, blog.id)">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="blogs" class="row center-me">
  <div>OOPS SOMETHINGS HAPPENED</div>
</div>
<div class="row center-me">
  <button *ngIf="!disabled" class="btn primary" (click)="onLoadMore()">Load More</button>
</div>
