/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pt-1em {
  padding-top: 1em;
}

.pr-1em {
 margin-right: 3em !important;
}

.center-me {
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}